
* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, 'Malgun Gothic', sans-serif;
	color: #666;
	overflow-y: scroll;
}

a:link { color: #369; }
a:visited { color: #639; }

h1 { font-size: 1.7em; }
p { line-height: 1.7; }

.post-date {
	margin-left: .5em;
	font-size: .8em;
	color: #ccc;
}

pre {
	padding: .5em;
	background: #f7f7f7;
}

pre, code, kbd, samp {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

.main {
	margin: 1em auto;
	padding: 2em 3em 1em;
	max-width: 40em;
	border: 1px solid #eee;
	border-radius: .3em;
	box-shadow: 0 1em 5em 0 #eee;
}
	header,
	header a:link,
	footer,
	footer a:link {
		color: #ccc;
		text-decoration: none;
	}
	header {
		border-bottom: 1px solid #ddd;
		overflow: auto;
		padding-bottom: 1.7em;
	}
		.title {
			float: left;
			line-height: 0;
		}
		.title a {
			color: #999;
		}
		nav {
			float: right;
		}
			nav ul,
			nav ol {
				margin: .5em 0 0;
			}
			nav li {
				display: inline-block;
				margin: 0 .5em;
			}
			nav a:link,
			nav a:visited {
				color: #999;
			}
		.description {
			clear: both;
			float: left;
			margin: .3em 0 0;
		}
	footer {
		text-align: right;
	}

.group {
	color: #999;
	font-size: .8em;
	margin-top: 3em;
}
.group ol,
.group ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.group a:link,
.group a:visited {
	text-decoration: none;
	color: #fff;
}

.group li {
	display: inline-block;
	background: #abc;
	padding: .1em .3em;
	border-radius: .3em;
	border: 1px solid #9ab;
}
	.group .categories a:link,
	.group .categories a:visited {
		color: #999;
	}
	.group .categories li {
		background: #fed;
		border-color: #edc;
	}

ul.index,
ol.index {
	list-style: none;
	padding: 0;
}
.index > li {
	margin: 0;
	padding: .7em 1em .1em;
}
.index li h1,
.index li h2,
.index li h3,
.index li h4,
.index li h5,
.index li h6 {
	margin: 0;
	padding: 0;
}

.index.tags li:target {
	background: #f0fdff;
	border: 1px solid #def;
	border-radius: 1em;
}
.index.categories li:target {
	background: #fffdf0;
	border: 1px solid #fed;
	border-radius: 1em;
}



@media (max-width: 736px) {

	.post-date {
		display: block;
	}

	.main {
		margin: 0;
		padding: 1em 1.5em .5em;
		max-width: none;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}

	nav ul,
	nav ol {
		padding: 0 1em;
	}

	nav li {
		display: list-item;
	}

	nav li a {
		display: inline-block;
		padding: .5em 0;
	}

	nav,
	.title,
	.description {
		float: none;
	}

}

