---
---

$primary-color: #666;
$muted-color-1: #999;
$muted-color-2: #ccc;

$link-color: #369;
$visited-color: #639;

$bluish: #abc;
$yellowish: #fed;

$tag-color: $bluish;
$cat-color: $yellowish;

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, 'Malgun Gothic', sans-serif;
	color: $primary-color;
	overflow-y: scroll;
}

a:link { color: $link-color; }
a:visited { color: $visited-color; }

h1 { font-size: 1.7em; }
p { line-height: 1.7; }

.post-date {
	margin-left: .5em;
	font-size: .8em;
	color: $muted-color-2;
}

pre {
	padding: .5em .7em;
	background: #f7f7f7;
}

pre, code, kbd, samp {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

.main {
	margin: 1em auto;
	padding: 2em 3em 1em;
	max-width: 40em;
	border: 1px solid #eee;
	border-radius: .3em;
	box-shadow: 0 1em 5em 0 #eee;
}
	header, footer {
		&, & a:link {
			color: $muted-color-2;
			text-decoration: none;
		}
	}
	header {
		border-bottom: 1px solid #ddd;
		overflow: auto;
		padding-bottom: 1.7em;
	}
		.title {
			float: left;
			line-height: 0;
		}
		.title a {
			color: $muted-color-1;
		}
		nav {
			float: right;

			ul, ol {
				margin: .5em 0 0;
			}
			li {
				display: inline-block;
				margin: 0 .5em;
			}
			a:link,
			a:visited {
				color: $muted-color-1;
			}
		}
		.description {
			clear: both;
			float: left;
			margin: .3em 0 0;
		}
	footer {
		text-align: right;
	}

.group {
	color: $muted-color-1;
	font-size: .8em;
	margin-top: 3em;

	ol,
	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	a:link,
	a:visited {
		text-decoration: none;
		color: #fff;
	}

	li {
		display: inline-block;
		background: $tag-color;
		padding: .1em .3em;
		border-radius: .3em;
		border: 1px solid $tag-color*.9;
	}

	.categories a:link,
	.categories a:visited {
		color: $muted-color-1;
	}
	.categories li {
		background: $cat-color;
		border-color: $cat-color*.9;
	}
}


ol.index,
ul.index {
	list-style: none;
	padding: 0;
}

.index {

	li {
		margin: 0;
		padding: .7em 1em .1em;
	}
	&.tags, &.categories {
		& li > ol, & li > ul {
			list-style: none;
			padding: 0;
		}
		& > li { padding-bottom: 1em; }
	}

	li {
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: 0;
		}
	}

	&.tags li:target {
		background: $tag-color*1.37;
		border: 1px dotted $tag-color*1.2;
	}
	&.categories li:target {
		background: $cat-color*1.05;
		border: 1px dotted $cat-color*.9;
	}
}


@media (max-width: 736px) {

	.post-date {
		display: block;
	}

	.main {
		margin: 0;
		padding: 1em 1.5em .5em;
		max-width: none;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}

	nav {
		ul, ol {
			padding: 0 1em;
		}

		li {
			display: list-item;

			a {
				display: inline-block;
				padding: .5em 0;
			}
		}
	}

	nav,
	.title,
	.description {
		float: none;
	}

}

