
* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, 'Malgun Gothic', sans-serif;
	color: #666;
	overflow-y: scroll;
}

a:link { color: #369; }
a:visited { color: #639; }

h1 { font-size: 1.7em; }
p { line-height: 1.7; }

.main {
	margin: 1em auto;
	padding: 2em 3em 1em;
	max-width: 40em;
	border: 1px solid #ddd;
	border-radius: .5em;
}
	header,
	header a:link,
	footer,
	footer a:link {
		color: #ccc;
		text-decoration: none;
	}
	header {
		border-bottom: 1px solid #ddd;
		overflow: auto;
		padding-bottom: 1.7em;
	}
		.title {
			float: left;
			line-height: 0;
		}
		.title a {
			color: #999;
		}
		nav {
			float: right;
		}
			nav ul,
			nav ol {
				margin: .5em 0 0;
			}
			nav li {
				display: inline-block;
				margin: 0 .5em;
			}
			nav a:link,
			nav a:visited {
				color: #999;
			}
		.description {
			clear: both;
			float: left;
			margin: .3em 0 0;
		}
	footer {
		text-align: right;
	}

@media (max-width: 736px) {
	.main {
		margin: 0;
		padding: 1em 1.5em .5em;
		max-width: none;
		border: 0;
		border-radius: 0;
	}

	nav li {
		display: list-item;
		margin: 0;
	}

	nav,
	.title,
	.description {
		float: none;
	}
}


