
{% assign groups = site[include.group_type] | sort %}

{% for group in groups %}
  {% assign key = group[0] %}
  <li id="{{ key }}">
    <h2>{{ key }}</h2>
    <ol reversed>
    {% for post in site[include.group_type][key] %}
      <li>{% include link_to_post.html post=post %}</li>
    {% endfor %}
    </ol>
  </li>
{% endfor %}

{% assign ungrouped_posts_exist = false %}
{% capture ungrouped %}
  <h2>{{ include.ungrouped_title }}</h2>
  <ol reversed>
  {% for post in site.posts %}
    {% if post[include.group_type].size == 0 %}
      {% assign ungrouped_posts_exist = true %}
      <li>{% include link_to_post.html post=post %}</li>
    {% endif %}
  {% endfor %}
  </ol>
{% endcapture %}

{% if ungrouped_posts_exist %}
  <li>{{ ungrouped }}</li>
{% endif %}
