<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">
<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
<link rel="stylesheet" href="//necolas.github.io/normalize.css/latest/normalize.css">
<link rel="stylesheet" href="/res/base.css">
<link rel="stylesheet" href="/res/syntax.css">
</head>
<body>

<div class="main">
  <header>
    <h3 class="title">
      <a href="/">
        {{ site.title }}
      </a>
    </h3>
    <nav>
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/categories.html">categories</a>
        </li>
        <li>
          <a href="/tags.html">tags</a>
        </li>
      </ul>
    </nav>
    {% if site.description %}
      <p class="description">{{ site.description }}</p>
    {% endif %}
  </header>

  {{ content }}

  <footer>
    <p>
      {% if site.author.url %}
        <a href="{{ site.author.url }}">
          {{ site.author.name }}
        </a>
      {% else %}
        {{ site.author.name }}
      {% endif %}
    </p>
  </footer>
</div>

</body>
</html>